<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- Enable auto wiring of spring beans - @Autowired annotation -->
    <context:annotation-config/>

    <!-- Bind to the data source provided by the servlet container via JNDI -->
    <bean id="jndiDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/dbname"/>
    </bean>

    <!-- Enabled JPA Persistence -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="jndiDataSource"/>

        <property name="packagesToScan" value="org.example.sample.core.domain"/>

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL82Dialect"/>
                <property name="generateDdl" value="true"/>
            </bean>
        </property>
    </bean>

    <!-- Support for Spring data Repository interfaces -->
    <jpa:repositories base-package="org.example.sample.core.repository.api"/>

    <!-- Scan for transaction annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Bind the transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="jndiDataSource"/>
    </bean>

    <!-- Regular component scan for service classes -->
    <context:component-scan base-package="org.example.sample.core.service"/>
</beans>
